<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <title>Tunn Restaurant</title>
    </head>
    
    <body>
        <div>
            <header class="mheader">
               <a href="/"><i class="fa-solid fa-arrow-left"></i> <p>Home</p></a>
            </header>
       </div>
        <div id="content">
          <ul id="messages">
          </ul>
         <form id="form" action="">
            <input placeholder="write something..." id="input" autocomplete="off" /><button id="subtmitButton">Send</button>
         </form>
        </div>
    </body>
  <script type="module" src="/socket.js"></script>
  <script src="/socket.io/socket.io.js"></script>

</html>




