<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <title>Tunn Restaurant</title>
    </head>

<body>
<div class="heading">
    <h2>Welcome...</h2>
</div>
    <div class="name">
        <h1>...this is Tunn Restaurant</h1>
    </div>

    <a href="/chat">click here to place an order...</a>
</body>

<script type="module" src="/main.js"></script>

</html>